/** Resets **/
h1,
h2,
h3,
p {
  margin: 0;
}
h2,
p {
  font-weight: 100;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 1.3em;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}
a,
a:focus {
  color: inherit;
  text-decoration: none;
}

/** Style classes **/
.container-width {
  width: 73%;
  margin: 0 auto;
}
.hover {
  transition: color .15s;
}

/** Layout styles **/
body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  color: #1939D6;
  line-height: 1.4;
}
/* Nav */
.container__nav {
  padding: 15px 0;
}
.container__nav li {
  margin-right: 15px;
}
.container__nav li a {
  color: #1939D6;
  font-weight: 600;
  font-size: .8em;
}

/* Landing */
.container__landing,
.container__resume-header-content {
  display: flex;
  align-items: center;
}
.container__landing {
  padding: 6em 0;
  justify-content: space-between;
  height: 350px;
}
.container__landing li,
.container__nav li {
  display: inline-block;
}
.container__landing i {
  font-size: 1.5em;
  padding-right: .8em;
}
.container__landing ul {
  margin-top: 20px;
}
.container__landing-img img {
  border-radius: 50%;
}
.container__landing-img p {
  font-size: .7em;
  text-align: center;
  font-style: italic;
  margin-top: 5px;
}
.container__landing-content h2 {
  margin-bottom: 1em;
}
.tw-icon:hover {
  color: #1dcaff;
}
.ld-icon:hover {
  color: #0077b5;
}
.gh-icon:hover {
  color: #000;
}
.be-icon:hover {
  color: #1769ff;
}
/* Resume */
.container__resume-header {
  position: relative;
  overflow: hidden;
  padding: 40px 0 70px 0;
  color: #fff;
}
.container__resume-header-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1939D6;
  transform: skewY(-2deg);
  transform-origin: top left;
}
.container__resume-header-content {
  position: relative;
}
.container__resume-header img {
  width: 200px;
  border-radius: 50%;
  margin-right: 40px;
}
.container__resume-header-title ul {
  margin-top: 10px;
}
.container__resume-header-title ul li {
  margin-bottom: 3px;
}
.container__resume-header-title i {
  width: 30px;
  text-align: center;
  font-size: .8em;
}
.container__resume-main {
  padding: 3em 0;
  display: flex;
}
.container__resume-main-skills {
  box-shadow: 5px 0 5px -5px #d2d1d1;
  padding-right: 30px;
}
.container__resume-main-work {
  padding-left: 30px;
}
.container__resume-main h2 {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 600;
}
.container__resume-main h3 {
  margin-bottom: 3px;
  font-weight: 400;
}
.container__resume-main li,
.container__resume-main p {
  font-weight: 100;
}
.container__resume-skills-list ul {
  margin-bottom: 10px;
}
.container__resume-skills p {
  font-size: .8em;
  font-weight: 400;
  color: #616060;
}
.container__work-item,
.container__personal-projects-item {
    margin-bottom: 30px;
}
.container__work-item i,
.container__personal-projects-item i {
  margin-right: 10px;
  font-size: .8em;
}
.company, 
.dates {
  font-weight: 100;
}
.dates {
  color: #203080;
}

@media (max-width: 767px) {
  .dates {
    display: block;
    margin-top: 5px;
  }
}