body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  color: #1939D6;
  line-height: 1.4;
}

/* Resets */
h1,
h2,
p {
  margin: 0;
}
h2,
p {
  font-weight: 100;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 1.3em;
  margin-bottom: 1em;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}
a,
a:focus {
  color: inherit;
  text-decoration: none;
}

.container-width {
  width: 73%;
  margin: 0 auto;
}


/* Layout styles */
.container__nav {
  padding: 15px 0;
}
.container__nav li {
  margin-right: 15px;
}
.container__nav li a {
  color: #1939D6;
  font-weight: 600;
  font-size: .8em;
}
.container__landing,
.container__resume-header-content {
  display: flex;
  align-items: center;
}
.container__landing {
  padding: 6em 0;
  justify-content: space-between;
  height: 350px;
}
.container__landing li,
.container__nav li {
  display: inline-block;
}
.container__landing i {
  font-size: 1.5em;
  padding-right: .8em;
}
.container__landing ul {
  margin-top: 20px;
}
.container__landing-img img {
  border-radius: 50%;
}
.container__landing-img p {
  font-size: .7em;
  text-align: center;
  font-style: italic;
  margin-top: 5px;
}
.container__resume-header {
  background-color: #1939D6;
  padding: 40px 0 70px 0;
  color: #fff;
}
.container__resume-header img {
  width: 200px;
  border-radius: 50%;
  margin-right: 40px;
}
.container__resume-header-title ul {
  margin-top: 10px;
}
.container__resume-header-title ul li {
  margin-bottom: 3px;
}
.container__resume-header-title i {
  width: 30px;
  text-align: center;
  font-size: .8em;
}
.container__work {
  padding: 3em 0;
}
.container__work h2 {
  text-transform: uppercase;
}
.container__work-item {
    border-left: 3px solid #f3f3f3;
    padding-left: 20px;
    margin-bottom: 40px;
}
.container__work-item li {
  margin-bottom: 10px;
  font-weight: 100;
}
.container__work-item i {
  margin-right: 10px;
  font-size: .8em;
}
.hover {
  transition: color .15s;
}
.tw-icon:hover {
  color: #1dcaff;
}
.ld-icon:hover {
  color: #0077b5;
}
.gh-icon:hover {
  color: #000;
}
.be-icon:hover {
  color: #1769ff;
}
.company, 
.dates {
  font-weight: 100;
}
.dates {
  color: #bfbfbf;
}

@media (max-width: 767px) {
  .dates {
    display: block;
    margin-top: 5px;
  }
}