#header {
  height: 3.5rem;
  margin: 1.5rem 0 0 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
#header nav ul {
  padding: 0;
}
#header nav ul li {
  margin-right: 1.75rem;
  text-transform: uppercase;
  position: relative;
}
#header nav ul li a {
  color: var(--primary-color);
  font-size: .9rem;
  font-weight: 800;
}
#header nav ul li a:before {
  height: 0.1563rem;
  content: "";
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 0%;
  bottom: -0.4rem;
  transition: all 200ms ease-out 0s;
}
#header nav ul li a:hover {
  text-decoration: none;
}
#header nav ul li a:hover::before {
  width: 100%;
}
@media (max-width: 576px) {
  #header nav ul li a {
    font-size: .7rem;
  } 
}